h1 {
            font-size: 30px;
            color: #20bcd5;
            text-align: center;
        }

        

#titulo{
   
            color: #20bcd5;
            text-align: center;
            border: solid 3px;

}


        #boton {
display: block;

            width: 200px;
            height: 70px;
            background-color: #26D4E4;
            margin-left: auto;
            margin-right: auto;
}

#enviar {
display: block;

            width: 100px;
            background-color: #26D4E4;
            margin-left: auto;
            margin-right: auto;
}



        
        #balon {
            width: 250px;
            margin-bottom: 10px;
            height: 250px;
            background: url('../img/prueba2/cancha.jpg') center center;
            background-size: auto;
            border: solid 1px;
            background-size: cover;
        }
        
        #ensalada {
            width: 250px;
            margin-bottom: 10px;
            height: 250px;
            background: url('../img/prueba2/mesa.jpg') center center;
            background-size: auto;
            border: solid 1px;
            background-size: cover;
        }
        
        #conejo {
            width: 250px;
            margin-bottom: 10px;
            height: 250px;
            background: url('../img/prueba2/conejo.jpg') center center;
            background-size: auto;
            border: solid 1px;
            background-size: cover;
        }
        
        #diente {
            width: 250px;
            margin-bottom: 10px;
            height: 250px;
            background: url('../img/prueba2/diente.png') center center;
            background-size: auto;
            border: solid 1px;
            background-size: cover;
        }
        
        #leche {
            width: 250px;
            margin-bottom: 10px;
            height: 250px;
            background: url('../img/prueba2/leche.jpg') center center;
            background-size: auto;
            border: solid 1px;
            background-size: cover;
        }
        
        #carro {
            width: 250px;
            margin-bottom: 10px;
            height: 250px;
            position: relative;
            background: url('../img/prueba2/carro.jpg') center center;
            background-size: auto;
            border: solid 1px;
            background-size: cover;
        }
        
        #doctor {
            width: 250px;
            margin-bottom: 10px;
            height: 250px;
            position: relative;
            background: url('../img/prueba2/doctor.jpg') center center;
            background-size: auto;
            border: solid 1px;
            background-size: cover;
        }
        
        #tabla {
            width: 250px;
            margin-bottom: 10px;
            height: 250px;
            position: relative;
            background: url('../img/prueba2/tabla.jpg') center center;
            background-size: auto;
            border: solid 1px;
            background-size: cover;
        }
        
/* pictures draggable*/

        #balon_f {
            position: relative;
            width: 200px;
            z-index: 1;
        }
        
        #cuchara {
            position: relative;
            width: 200px;
            z-index: 1;
        }
        
        #zanahoria {
            position: relative;
            width: 200px;
            z-index: 1;
        }
        
        #cepillo {
            position: relative;
            width: 200px;
            z-index: 1;
        }
        
        #vaca {
            position: relative;
            width: 200px;
            z-index: 1;
        }
        /* here the second line of images whiouth fondo */
        
        #rueda {
            position: relative;
            width: 200px;
            z-index: 1;
        }
        
        #jeringa {
            position: relative;
            width: 200px;
            z-index: 1;
        }
        
        #gafas {
            position: relative;
            width: 200px;
            z-index: 1;
        }
        
        input.button {
           width: 100px;
    height: 40px;
   background-color: #26D4E4;
   
        }
        
#boton{
           width: 100px;
    height: 40px;
   background-color: #26D4E4;
   
        }
        
      /*  .hovered {
            border: 5px solid #26ECEA !important;
        }*/