#arbol {
            width: 50px;
            margin-bottom: 10px;
            height: 250px;
            background: url('../../../img/Menu/M.prueba_contextos/arbol.jpg') center center;
            background-size: auto;
            border: solid 1px;
            background-size: cover;
        }



        #computer {
            width: 250px;
            margin-bottom: 10px;
            height: 250px;
            background: url('../../../img/Menu/M.prueba_contextos/computer.jpg') center center;
            background-size: auto;
            border: solid 1px;
            background-size: cover;
        }


        #manzana {
            position: relative;
            width: 200px;
            z-index: 1;
        }
        
        #raton{
            position: relative;
            height: 200px;
            width: 200px;
            z-index: 1;
        }


        h1{
	font-size: 30px;
color: #20bcd5;
/*text-align: center;*/

}


#titulo{
   
            color: #20bcd5;
            text-align: center;
            border: solid 3px;

}


#PMAS{

font-size: 30PX;


}


#boton1{

	display: block;
           width: 100px;
   height: 80px;
   background-color: #26D4E4;
   margin-right: auto;
   margin-left: auto;
   cursor: pointer;
   
    }

    #boton2{

    display: block;
           width: 100px;
   height: 80px;
   background-color: #26D4E4;
   margin-right: auto;
   margin-left: auto;
   margin-top: 0px;
    cursor: pointer;
   
    }
 #boton3{

    display: block;
           width: 100px;
   height: 40px;
   background-color: #26BAE4;
   margin-right: auto;
   margin-left: auto;
   margin-top: 30px;
    cursor: pointer;
   
    }


#p{
  color: black;
}


