

body {

	font-size: 30px;

}

h1{
font-size: 30px;
color: #20bcd5;
text-align: center;

}



#boton2{

  display: block;
           width: 100px;
   height: 40px;
   background-color: #26D4E4;
   margin-right: auto;
   margin-left: auto;
   
        }
 
  select
  {
  	font-size: 25px;
  	background-color: #F9FDFD;
  	color: #E91B1B;
  }

  p.left{
  	text-align: left;
  }
  
#umb {

  width:300px; 
  height:300px;
}


#titulo{
   
            color: #20bcd5;
            text-align: center;
            border: solid 3px;

}

#boton{

  display: block;
           width: 100px;
   height: 40px;
   background-color: #26D4E4;
   margin-right: auto;
   margin-left: auto;
   
        }