/* @font-face {
    font-family: 'bom';
    src: url('fonts/bombing-webfont.woff2') format('woff2'),
         url('fonts/bombing-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*/
/*p.palabra{
	font-family: "bom";
	display: grid;
}*/




#titulo{
   
            color: #20bcd5;
            text-align: center;
            border: solid 3px;
        }


#linea{
  color: blue;
  width: 100%;
  height: 50px;
}



/*--------------------------------------------------*/

#sortable1 li{
      display: inline;
      padding-left: 3px;
      padding-right: 3px;
      border :solid 2px;
      cursor: pointer;
      font-size: 30px;


    }


#Oso{
  width:350px;
    height:350px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}



/*--------------------------------------------------*/

#sortable2 li{
      display: inline;
      padding-left: 3px;
      padding-right: 3px;
      border :solid 2px;
      cursor: pointer;
      font-size: 30px;


    }


#Pelota{
  width:350px;
    height:350px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}



/*--------------------------------------------------*/

#sortable3 li{
      display: inline;
      padding-left: 2px;
      padding-right: 2px;
      border :solid 2px;
      cursor: pointer;
      font-size: 30px;


    }


#Maria{
  width:350px;
    height:350px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}





p{
	font-size: 35px;
}





p{
	cursor: pointer;

}
