


body{
    font-size: 32px;
}

h1{
font-size: 30px;
color: #20bcd5;
text-align: center;

}



 #zone1i {
    width: 130px;
    height: 130px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: solid 5px;
    background-size: cover;
    margin-bottom: 15px;

}

#zone1d {
    width: 130px;
    height: 130px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: solid 5px;
    background-size: cover;
    margin-bottom: 15px;
}



#zone2i {
    width: 130px;
    height: 130px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: solid 5px;
    background-size: cover;
    margin-bottom: 15px;
}

#zone2d {
   
    width: 130px;
    height: 130px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: solid 5px;
    background-size: cover;
    margin-bottom: 15px;
}



#zone3i{

    width: 130px;
    height: 130px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: solid 5px;
    background-size: cover;
    margin-bottom: 15px;

}


#zone3d{width: 130px;
    height: 130px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: solid 5px;
    background-size: cover;
    margin-bottom: 15px;

}

#zone4i {
    width: 130px;
    height: 130px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: solid 5px;
    background-size: cover;
    margin-bottom: 15px;
}

#zone4d {
    width: 130px;
    height: 130px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: solid 5px;
    background-size: cover;
    margin-bottom: 15px;
}
#caliente {
            width: 100px;
            z-index: 1;
             border: solid 5px;
             border-radius: 20px;
            }


 #frio {
             width: 100px;
           z-index: 1;
           border: solid 5px;
             border-radius: 20px;
            }


#feliz {

    			
				width: 100px;
			z-index: 1;
            border: solid 5px;
             border-radius: 20px;
}

#triste {
				width: 100px;
			    z-index: 1;
                border: solid 5px;
             border-radius: 20px;
}

#dia {
			
				width: 100px;
				z-index: 1;
                border: solid 5px;
             border-radius: 20px;
}

#noche {
			
				width: 100px;
				z-index: 1;
                border: solid 5px;
             border-radius: 20px;
}


#cerrado {
			
				width: 100px;
				z-index: 1;
                border: solid 5px;
             border-radius: 20px;
}

#abierto {
			
				width: 100px;
				z-index: 1;
                border: solid 5px;
             border-radius: 20px;
                }




input.button{
    width: 100px;
    height: 70px;
   background-color: #26D4E4;
   

