


#titulo{
   
            color: #20bcd5;
            text-align: center;
            border: solid 3px;
        }


#linea{
	color: blue;
	width: 100%;
	height: 50px;
}





#p{
	font-size: 30px;
	display: inline;
}

 p.left{
  	text-align: left;
  display: inline;

  }

#PERRO{

	width:350px;
    height:350px;
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

  #perro{
	font-size: 30px;
	margin-bottom: 10px;
  	display: inline;
	color: #313AEE
  }


  
  #calabaza{
	font-size: 30px;
	margin-bottom: 10px;
  	display: inline;
	color: #313AEE
  }

#conejo{
	font-size: 30px;
	margin-bottom: 10px;
  	display: inline;
  	color: #313AEE

  }



  #espacio{ display: inline;


  }
/* botones de la primera pregunta*/




#Perro{ 

	margin : 15px; 


    }


  
  #Calabaza{
	
	margin : 15px; 
  	

  }


#Conejo{
	margin : 15px; 
	
  
  }

/*---------------------------------------------------------------------*/

#COMIDA{

	width:350px;
    height:350px;
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


 #llanta{
	font-size: 30px;
	margin-bottom: 10px;
  	display: inline;
	color: #313AEE
  }


  
  #plato{
	font-size: 30px;
	margin-bottom: 10px;
  	display: inline;
	color: #313AEE
  }

#comida{
	font-size: 30px;
	margin-bottom: 10px;
  	display: inline;
  	color: #313AEE

  }



  #espacio2{ display: inline;


  }
/* botones de la segunda pregunta*/




#Llanta{ 

	margin : 15px; 


    }


  
  #Plato{
	
	margin : 15px; 
  	

  }


#Comida{
	margin : 15px; 
	
  
  }

/*---------------------------------------------------------------------*/

#OSO{

	width:350px;
    height:350px;
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


 #oso{
	font-size: 30px;
	margin-bottom: 10px;
  	display: inline;
	color: #313AEE
  }


  
  #carro{
	font-size: 30px;
	margin-bottom: 10px;
  	display: inline;
	color: #313AEE
  }

#amigo{
	font-size: 30px;
	margin-bottom: 10px;
  	display: inline;
  	color: #313AEE

  }



  #espacio3{ display: inline;


  }
/* botones de la tercera pregunta*/




#Oso{ 

	margin : 15px; 


    }


  
  #Amigo{
	
	margin : 15px; 
  	

  }


#Carro{
	margin : 15px; 
	
  
  }


/*---------------------------------------------------------------------*/

#CARLOS{

	width:350px;
    height:350px;
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


 #rie{
	font-size: 30px;
	margin-bottom: 10px;
  	display: inline;
	color: #313AEE
  }


  
  #come{
	font-size: 30px;
	margin-bottom: 10px;
  	display: inline;
	color: #313AEE
  }

#pinta{
	font-size: 30px;
	margin-bottom: 10px;
  	display: inline;
  	color: #313AEE

  }



  #espacio4{ display: inline;


  }
/* botones de la tercera pregunta*/




#Pinta{ 

	margin : 15px; 


    }


  
  #Come{
	
	margin : 15px; 
  	

  }


#Rie{
	margin : 15px; 
	
  
  }

/*---------------------------------------------------------------------*/


#TRICICLO{

	width:350px;
    height:350px;
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


 #caballo{
	font-size: 30px;
	margin-bottom: 10px;
  	display: inline;
	color: #313AEE
  }


  
  #triciclo{
	font-size: 30px;
	margin-bottom: 10px;
  	display: inline;
	color: #313AEE
  }

#raton{
	font-size: 30px;
	margin-bottom: 10px;
  	display: inline;
  	color: #313AEE

  }



  #espacio5{ display: inline;


  }
/* botones de la tercera pregunta*/




#Raton{ 

	margin : 15px; 


    }


  
  #Caballo{
	
	margin : 15px; 
  	

  }


#Tricilo{
	margin : 15px; 
	
  
  }
